<body>
<!-- <p>Bienvenidos a DesignMatch, tu aplicación de diseños favorita.</p> -->

<!-- <mat-card class="Bienvenidos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bienvenidos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Bienvenidos a DesignMatch, tu aplicación de diseños favorita.
      </p>
    </mat-card-content>
  </mat-card> -->

  <mat-tab-group>
    <mat-tab label="Bienvenido"> Bienvenidos a DesignMatch, tu aplicación de diseños favorita. </mat-tab>
    <mat-tab label="¿Quienes Somos?"> El mejor grupo, el 5 ;) (Insertar definicion de designmatch) </mat-tab>
    <mat-tab label="¿Cómo Funciona?"> Milagrosamente anda (Insertar texto con carreta) </mat-tab>
  </mat-tab-group>

</body>